<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

  <display-name>KNN HealthCare</display-name>
  
  <!-- See the welcome-file Reference Material here: http://www.javatpoint.com/welcome-file-list -->
  <welcome-file-list>
    <welcome-file>Home</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Startup</servlet-name>
    <servlet-class>Startup</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>Home</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>ViewItem</servlet-name>
    <servlet-class>ViewItem</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ViewItem</servlet-name>
    <url-pattern>/ViewItem</url-pattern>
  </servlet-mapping>

</web-app>